.container {
  border: 1px white solid;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 800px;
  width: 370px;
  position: absolute;
  left: 65%;
  bottom: -90vh;
  box-shadow: 1px 1px black;
  border-radius: 2%;
}

.title {
  font-size: 23px;
}

.c-selected {
  display: flex;
  height: 100px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;

}

.cards {
  border: 1px black solid;
  width: 30%;
  margin: 3px;
  background-color: lightyellow;
}

.c-list {
  margin-top: 0px;
}

.m-mortgage {
  margin-bottom: 30px;
  margin-top: 40px;
}
